body
  color: $text-color
  font-family: 'Gilroy', Arial, sans-serif
  font-size: 14px
  line-height: 1.4

  @media(min-width: 1200px)
    font-size: 16px

  @media(min-width: 1900px)
    font-size: 20px

a
  color: $main-color
  transition: color 0.3s

  &:hover,
  &:focus
    color: $main-color-hover

h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5,
h6,.h6
  font-weight: 700

h1,
.h1
  font-size: 26px
  line-height: 1.2
  margin-bottom: 20px

  @media(min-width: 768px)
    font-size: 36px

  @media(min-width: 1350px)
    font-size: 48px
    line-height: 1.4

  @media(min-width: 1400px)
    font-size: 52px

  @media(min-width: 1600px)
    font-size: 60px

  @media(min-width: 1900px)
    font-size: 80px

h2,
.h2
  font-size: 32px
  line-height: 1.2

  @media(min-width: 1350px)
    font-size: 44px

  @media(min-width: 1900px)
    font-size: 62px

h3,
.h3
  font-size: 20px

  @media(min-width: 1350px)
    font-size: 30px

  @media(min-width: 1900px)
    font-size: 38px

h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5,
h6,.h6,
p,
ul,
ol,
table,
.table-responsive,
.responsive-table
  margin-top: 0
  margin-bottom: 20px

  &:last-child
    margin-bottom: 0

.table-responsive,
.responsive-table
  min-height: 0.01%
  overflow-x: auto

table
  border-collapse: collapse
  max-width: 100%
  text-align: left
  width: 100%

  th,
  td
    border: none
    border-bottom: 1px solid
    padding: 10px
    vertical-align: top

img
  height: auto
  max-width: 100%
  vertical-align: top

.title-block
  margin-bottom: 60px

  @media(min-width: 768px)
    align-items: flex-start
    display: flex
    justify-content: space-between
    margin-left: -10px
    margin-right: -10px

  @media(min-width: 1350px)
    margin-bottom: 120px
    margin-left: -20px
    margin-right: -20px

  @media(min-width: 1900px)
    margin-bottom: 170px

  h2,
  .h2
    margin-bottom: 20px

    @media(min-width: 768px)
      margin-top: -10px
      margin-bottom: 0
      max-width: 830px
      padding-right: 10px
      padding-left: 10px
      width: 50%

    @media(min-width: 1350px)
      padding-right: 20px
      padding-left: 20px

    @media(min-width: 1900px)
      margin-top: -15px

  &__text
    @media(min-width: 768px)
      max-width: 790px
      padding-left: 10px
      padding-right: 10px
      width: 50%

    @media(min-width: 1350px)
      font-size: 18px
      max-width: 830px
      padding-left: 20px
      padding-right: 20px

    @media(min-width: 1900px)
      font-size: 24px

.form-block
  margin-bottom: 60px

  @media(min-width: 768px)
    align-items: flex-start
    display: flex
    justify-content: space-between
    margin-left: -10px
    margin-right: -10px

  @media(min-width: 1350px)
    margin-bottom: 120px
    margin-left: -20px
    margin-right: -20px

  @media(min-width: 1900px)
    margin-bottom: 170px

  &:last-child
    margin-bottom: 0

  &__block
    @media(min-width: 768px)
      max-width: 790px
      padding-left: 10px
      padding-right: 10px
      width: 50%

    @media(min-width: 1350px)
      font-size: 18px
      padding-left: 20px
      padding-right: 20px

    @media(min-width: 1900px)
      font-size: 24px

    &:first-child
      margin-bottom: 30px

      @media(min-width: 768px)
        margin-bottom: 0

  h2,
  .h2
    margin-bottom: 20px

    @media(min-width: 768px)
      margin-top: 20px

    @media(min-width: 1350px)
      margin-bottom: 40px

    @media(min-width: 1400px)
      margin-top: 15px

    @media(min-width: 1900px)
      margin-bottom: 60px
      margin-top: 0

.text-block
  max-width: 1190px
  margin-bottom: 40px

  @media(min-width: 1900px)
    margin-bottom: 60px

.calc-note
  align-items: center
  display: flex
  font-size: 12px

  @media(min-width: 1200px)
    font-size: 16px

  @media(min-width: 1900px)
    font-size: 20px

  &::before
    background-color: $main-color
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.24963 2.25C2.24963 1.65326 2.48669 1.08097 2.90864 0.65901C3.3306 0.237053 3.9029 0 4.49963 0L13.4996 0C14.0964 0 14.6687 0.237053 15.0906 0.65901C15.5126 1.08097 15.7496 1.65326 15.7496 2.25V15.75C15.7496 16.3467 15.5126 16.919 15.0906 17.341C14.6687 17.7629 14.0964 18 13.4996 18H4.49963C3.9029 18 3.3306 17.7629 2.90864 17.341C2.48669 16.919 2.24963 16.3467 2.24963 15.75V2.25ZM4.49963 2.8125V5.0625C4.49963 5.21168 4.5589 5.35476 4.66439 5.46025C4.76988 5.56574 4.91295 5.625 5.06213 5.625H12.9371C13.0863 5.625 13.2294 5.56574 13.3349 5.46025C13.4404 5.35476 13.4996 5.21168 13.4996 5.0625V2.8125C13.4996 2.66332 13.4404 2.52024 13.3349 2.41475C13.2294 2.30926 13.0863 2.25 12.9371 2.25H5.06213C4.91295 2.25 4.76988 2.30926 4.66439 2.41475C4.5589 2.52024 4.49963 2.66332 4.49963 2.8125ZM4.49963 7.3125V8.4375C4.49963 8.58668 4.5589 8.72976 4.66439 8.83525C4.76988 8.94074 4.91295 9 5.06213 9H6.18713C6.33632 9 6.47939 8.94074 6.58488 8.83525C6.69037 8.72976 6.74963 8.58668 6.74963 8.4375V7.3125C6.74963 7.16332 6.69037 7.02024 6.58488 6.91475C6.47939 6.80926 6.33632 6.75 6.18713 6.75H5.06213C4.91295 6.75 4.76988 6.80926 4.66439 6.91475C4.5589 7.02024 4.49963 7.16332 4.49963 7.3125ZM5.06213 10.125C4.91295 10.125 4.76988 10.1843 4.66439 10.2898C4.5589 10.3952 4.49963 10.5383 4.49963 10.6875V11.8125C4.49963 11.9617 4.5589 12.1048 4.66439 12.2102C4.76988 12.3157 4.91295 12.375 5.06213 12.375H6.18713C6.33632 12.375 6.47939 12.3157 6.58488 12.2102C6.69037 12.1048 6.74963 11.9617 6.74963 11.8125V10.6875C6.74963 10.5383 6.69037 10.3952 6.58488 10.2898C6.47939 10.1843 6.33632 10.125 6.18713 10.125H5.06213ZM4.49963 14.0625V15.1875C4.49963 15.3367 4.5589 15.4798 4.66439 15.5852C4.76988 15.6907 4.91295 15.75 5.06213 15.75H6.18713C6.33632 15.75 6.47939 15.6907 6.58488 15.5852C6.69037 15.4798 6.74963 15.3367 6.74963 15.1875V14.0625C6.74963 13.9133 6.69037 13.7702 6.58488 13.6648C6.47939 13.5593 6.33632 13.5 6.18713 13.5H5.06213C4.91295 13.5 4.76988 13.5593 4.66439 13.6648C4.5589 13.7702 4.49963 13.9133 4.49963 14.0625ZM8.43713 6.75C8.28795 6.75 8.14488 6.80926 8.03939 6.91475C7.9339 7.02024 7.87463 7.16332 7.87463 7.3125V8.4375C7.87463 8.58668 7.9339 8.72976 8.03939 8.83525C8.14488 8.94074 8.28795 9 8.43713 9H9.56213C9.71132 9 9.85439 8.94074 9.95988 8.83525C10.0654 8.72976 10.1246 8.58668 10.1246 8.4375V7.3125C10.1246 7.16332 10.0654 7.02024 9.95988 6.91475C9.85439 6.80926 9.71132 6.75 9.56213 6.75H8.43713ZM7.87463 10.6875V11.8125C7.87463 11.9617 7.9339 12.1048 8.03939 12.2102C8.14488 12.3157 8.28795 12.375 8.43713 12.375H9.56213C9.71132 12.375 9.85439 12.3157 9.95988 12.2102C10.0654 12.1048 10.1246 11.9617 10.1246 11.8125V10.6875C10.1246 10.5383 10.0654 10.3952 9.95988 10.2898C9.85439 10.1843 9.71132 10.125 9.56213 10.125H8.43713C8.28795 10.125 8.14488 10.1843 8.03939 10.2898C7.9339 10.3952 7.87463 10.5383 7.87463 10.6875ZM8.43713 13.5C8.28795 13.5 8.14488 13.5593 8.03939 13.6648C7.9339 13.7702 7.87463 13.9133 7.87463 14.0625V15.1875C7.87463 15.3367 7.9339 15.4798 8.03939 15.5852C8.14488 15.6907 8.28795 15.75 8.43713 15.75H9.56213C9.71132 15.75 9.85439 15.6907 9.95988 15.5852C10.0654 15.4798 10.1246 15.3367 10.1246 15.1875V14.0625C10.1246 13.9133 10.0654 13.7702 9.95988 13.6648C9.85439 13.5593 9.71132 13.5 9.56213 13.5H8.43713ZM11.2496 7.3125V8.4375C11.2496 8.58668 11.3089 8.72976 11.4144 8.83525C11.5199 8.94074 11.663 9 11.8121 9H12.9371C13.0863 9 13.2294 8.94074 13.3349 8.83525C13.4404 8.72976 13.4996 8.58668 13.4996 8.4375V7.3125C13.4996 7.16332 13.4404 7.02024 13.3349 6.91475C13.2294 6.80926 13.0863 6.75 12.9371 6.75H11.8121C11.663 6.75 11.5199 6.80926 11.4144 6.91475C11.3089 7.02024 11.2496 7.16332 11.2496 7.3125ZM11.8121 10.125C11.663 10.125 11.5199 10.1843 11.4144 10.2898C11.3089 10.3952 11.2496 10.5383 11.2496 10.6875V15.1875C11.2496 15.3367 11.3089 15.4798 11.4144 15.5852C11.5199 15.6907 11.663 15.75 11.8121 15.75H12.9371C13.0863 15.75 13.2294 15.6907 13.3349 15.5852C13.4404 15.4798 13.4996 15.3367 13.4996 15.1875V10.6875C13.4996 10.5383 13.4404 10.3952 13.3349 10.2898C13.2294 10.1843 13.0863 10.125 12.9371 10.125H11.8121Z' fill='white'/%3E%3C/svg%3E%0A")
    background-position: 50% 50%
    background-repeat: no-repeat
    border-radius: 50%
    content: ''
    height: 40px
    margin-right: 10px
    width: 40px

    @media(min-width: 1200px)
      margin-right: 20px
