<footer class="footer">
    <div id="footer_map" class="footer__map"></div>
    <div class="footer__top">
        <div class="container">
            <div class="footer__phone-block">
                <a href="tel:+78124183440">+7 (812) 418-34-40</a>
            </div>
            <div class="footer__address-block">
                <p class="footer__address">г. Санкт-Петербург<br> Щербаков пер. д 2/58</p>
                <p class="footer__work-time">Ежедневно 9:00-21:00</p>
                <button class="footer__appointment" type="button">
                    Записаться на приём
                    <svg>
                        <use xlink:href="#arrow_right"></use>
                    </svg>
                </button>
            </div>
            <div class="footer__socials">
                <div class="multi-button">
                    <button class="js-multi-button-toggler multi-button__button" type="button" title="Открыть">
                        <svg>
                            <use xlink:href="#phone"></use>
                        </svg>
                    </button>
                    <div class="multi-button__list">
                        <li>
                            <a class="multi-button__link" href="tel:+78124183440" title="Позвонить нам">
                                <svg>
                                    <use xlink:href="#phone"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a class="multi-button__link" href="#" title="Мы в Telegram">
                                <svg>
                                    <use xlink:href="#tg"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a class="multi-button__link" href="#" title="Мы в WhatsApp">
                                <svg>
                                    <use xlink:href="#whatsapp"></use>
                                </svg>
                            </a>
                        </li>
                    </div>
                </div>
                <a class="footer__social" href="#" rel="nofollow noreferrer noopener" title="Facebook">
                    <svg>
                        <use xlink:href="#fb"></use>
                    </svg>
                </a>
                <a class="footer__social" href="#" rel="nofollow noreferrer noopener" title="Instagram">
                    <svg>
                        <use xlink:href="#inst"></use>
                    </svg>
                </a>
                <a class="footer__social" href="#" rel="nofollow noreferrer noopener" title="Вконтакте">
                    <svg>
                        <use xlink:href="#vk"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <div class="footer__middle">

    </div>
    <p class="footer__note">Имеются противопоказания, необходимо проконсультироваться со специалистом</p>
    <div class="footer__bottom container">
        <div class="footer__bottom-logo">
            <img src="images/logo.svg" alt="КИСС">
        </div>
        <div class="footer__bottom-left">
            © 2020, ООО «ЦПЗ КИСС»<br>
            Лицензия на осуществление медицинской деятельносити № ЛО-78-01-010430 от 17.12.2019 г.
        </div>
        <div class="footer__bottom-right">
            Вся информация, включая цены, предоставлена для ознакомления и не является публичной офертой<br>
            (ст.435 ГК РФ, cт. 437 ГК РФ).
        </div>
    </div>
</footer>