<header class="header compensate-for-scrollbar">
    <div class="header__inner container">
        <a class="header__logo" href="main.html">
            <img src="images/logo.svg" alt="КИСС">
        </a>
        <div class="header__menu-block">
            <div class="header__menu-block-inner">
                <nav class="header__menu-nav">
                    <ul class="header__menu-list">
                        <li>
                            <button class="js-menu-toggler header__menu-toggler" type="button">
                                <span>
                                    <svg>
                                        <use xlink:href="#menu"></use>
                                    </svg>
                                </span>
                                Услуги и стоимость
                            </button>
                        </li>
                        <li>
                            <a href="#">Акции</a>
                        </li>
                        <li>
                            <a href="#">О центре</a>
                        </li>
                        <li>
                            <a href="#">Работы</a>
                        </li>
                        <li>
                            <a href="#">Специалисты</a>
                        </li>
                        <li>
                            <a href="#">Калькулятор</a>
                        </li>
                        <li>
                            <a href="#">Контакты</a>
                        </li>
                    </ul>
                    <div class="submenu">
                        <div class="submenu__inner">
                            <button class="js-submenu-closer submenu__closer" type="button">
                                <svg>
                                    <use xlink:href="#arrow_left"></use>
                                </svg>
                                Услуги и стоимость
                            </button>
                            <div class="submenu__menu">
                                <ul class="submenu__list">
                                    <li>
                                        <a class="js-lvl3menu-opener" href="#" data-target="1">
                                            <svg>
                                                <use xlink:href="#menu_icon_1"></use>
                                            </svg>
                                            Ортопедия
                                        </a>
                                    </li>
                                    <li>
                                        <a class="js-lvl3menu-opener" href="#" data-target="2">
                                            <svg>
                                                <use xlink:href="#menu_icon_2"></use>
                                            </svg>
                                            Имплантация
                                        </a>
                                    </li>
                                    <li>
                                        <a class="js-lvl3menu-opener" href="#" data-target="3">
                                            <svg>
                                                <use xlink:href="#menu_icon_3"></use>
                                            </svg>
                                            Терапия
                                        </a>
                                    </li>
                                    <li>
                                        <a class="js-lvl3menu-opener" href="#" data-target="4">
                                            <svg>
                                                <use xlink:href="#menu_icon_4"></use>
                                            </svg>
                                            Хирургия
                                        </a>
                                    </li>
                                    <li>
                                        <a class="js-lvl3menu-opener" href="#" data-target="5">
                                            <svg>
                                                <use xlink:href="#menu_icon_5"></use>
                                            </svg>
                                            Ортодонтия
                                        </a>
                                    </li>
                                    <li>
                                        <a class="js-lvl3menu-opener" href="#" data-target="6">
                                            <svg>
                                                <use xlink:href="#menu_icon_6"></use>
                                            </svg>
                                            Отбеливание
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="submenu__submenu">
                                <div class="submenu__submenu-block" data-target="1">
                                    <button class="js-lvl3menu-closer submenu__closer" type="button">
                                        <svg>
                                            <use xlink:href="#arrow_left"></use>
                                        </svg>
                                        Ортопедия
                                    </button>
                                    <div class="submenu__submenu-block-inner">
                                        <ul class="submenu__sublist">
                                            <li>
                                                <a href="#">Установка виниров</a>
                                            </li>
                                            <li>
                                                <a href="#">Установка коронок</a>
                                            </li>
                                            <li>
                                                <a href="#">Установка протезов</a>
                                            </li>
                                        </ul>
                                        <a class="banner-menu" href="#">
                                            <picture>
                                                <source srcset="images/content/menu/img_1.jpg, images/content/menu/img_1@2x.jpg 2x" media="(min-width: 1024px)">
                                                <img loading="lazy" src="images/content/menu/img_1_mob.jpg" srcset="images/content/menu/img_1_mob@2x.jpg 2x" alt="alt">
                                            </picture>
                                            <span class="banner-menu__container">
                                                <span class="banner-menu__title">Виниры</span>
                                                <span class="banner-menu__text">Помогают корректировать форму, цвет зуба и выполняют эстетическую функцию</span>
                                                <span class="banner-menu__price">от 160 000 ₽</span>
                                            </span>
                                        </a>
                                        <ul class="submenu__sublist">
                                            <li>
                                                <a href="#">Прайс-лист врача ортопеда</a>
                                            </li>
                                            <li>
                                                <a href="#">Примеры лечения</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="submenu__submenu-block" data-target="2">
                                    <button class="js-lvl3menu-closer submenu__closer" type="button">
                                        <svg>
                                            <use xlink:href="#arrow_left"></use>
                                        </svg>
                                        Имплантация
                                    </button>
                                    <div class="submenu__submenu-block-inner">
                                        Блок 2
                                    </div>
                                </div>
                                <div class="submenu__submenu-block" data-target="3">
                                    <button class="js-lvl3menu-closer submenu__closer" type="button">
                                        <svg>
                                            <use xlink:href="#arrow_left"></use>
                                        </svg>
                                        Терапия
                                    </button>
                                    <div class="submenu__submenu-block-inner">
                                        Блок 3
                                    </div>
                                </div>
                                <div class="submenu__submenu-block" data-target="4">
                                    <button class="js-lvl3menu-closer submenu__closer" type="button">
                                        <svg>
                                            <use xlink:href="#arrow_left"></use>
                                        </svg>
                                        Хирургия
                                    </button>
                                    <div class="submenu__submenu-block-inner">
                                        Блок 4
                                    </div>
                                </div>
                                <div class="submenu__submenu-block" data-target="5">
                                    <button class="js-lvl3menu-closer submenu__closer" type="button">
                                        <svg>
                                            <use xlink:href="#arrow_left"></use>
                                        </svg>
                                        Ортодонтия
                                    </button>
                                    <div class="submenu__submenu-block-inner">
                                        Блок 5
                                    </div>
                                </div>
                                <div class="submenu__submenu-block" data-target="6">
                                    <button class="js-lvl3menu-closer submenu__closer" type="button">
                                        <svg>
                                            <use xlink:href="#arrow_left"></use>
                                        </svg>
                                        Отбеливание
                                    </button>
                                    <div class="submenu__submenu-block-inner">
                                        Блок 6
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
                <div class="header__mobile-block">
                    <form class="header__search-form" action="">
                        <input class="header__search-input" type="text" value="" placeholder="Поиск">
                        <button class="header__search-input-clear" type="button" title="Очистить" disabled>
                            <svg>
                                <use xlink:href="#close"></use>
                            </svg>
                        </button>
                        <button class="header__search-submit" type="submit" disabled>
                            <svg>
                                <use xlink:href="#search"></use>
                            </svg>
                        </button>
                    </form>
                    <p class="header__mobile-phone">
                        <a href="tel:+78124183440">+7 (812) 418-34-40</a>
                    </p>
                    <p class="header__mobile-address">г. Санкт-Петербург<br> Щербаков пер. д 2/58</p>
                    <p class="header__mobile-work-time">Ежедневно 9:00-21:00</p>
                    <button class="js-popup-opener header__mobile-appointment" type="button" data-popup="record-popup">
                        Записаться на приём
                        <svg>
                            <use xlink:href="#arrow_right"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="header__search-block">
            <form class="header__search-form" action="">
                <input class="header__search-input" type="text" value="" placeholder="Поиск">
                <button class="header__search-input-clear" type="button" title="Очистить" disabled>
                    <svg>
                        <use xlink:href="#close"></use>
                    </svg>
                </button>
                <button class="header__search-submit" type="submit" disabled>Искать</button>
            </form>
            <button class="js-search-toggler header__button header__search-toggler" type="button" title="Открыть поиск">
                <svg>
                    <use xlink:href="#search"></use>
                </svg>
            </button>
        </div>
        <button class="header__button header__calc-button" type="button" title="Калькулятор">
            <svg>
                <use xlink:href="#calc"></use>
            </svg>
        </button>
        <div class="header__location-block">
            <button class="header__button header__location" type="button" title="Открыть карту">
                <svg>
                    <use xlink:href="#location"></use>
                </svg>
            </button>
            <span class="header__address">Санкт-Петербург<br> Щербаков пер. д 2/58</span>
        </div>
        <div class="header__phone-block">
            <div class="multi-button">
                <button class="js-multi-button-toggler multi-button__button" type="button" title="Открыть">
                    <svg>
                        <use xlink:href="#phone"></use>
                    </svg>
                </button>
                <div class="multi-button__list">
                    <li>
                        <a class="multi-button__link" href="tel:+78124183440" title="Позвонить нам">
                            <svg>
                                <use xlink:href="#phone"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a class="multi-button__link" href="#" title="Мы в Telegram">
                            <svg>
                                <use xlink:href="#tg"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a class="multi-button__link" href="#" title="Мы в WhatsApp">
                            <svg>
                                <use xlink:href="#whatsapp"></use>
                            </svg>
                        </a>
                    </li>
                </div>
            </div>
            <a class="header__phone" href="tel:+78124183440" title="Позвонить нам">+7 (812) 418-34-40</a>
        </div>
        <button class="js-popup-opener header__appointment button" type="button" data-popup="record-popup">Записаться на приём</button>
        <button class="js-mobile-menu-toggler header__button header__burger" type="button" title="Открыть меню">
            <svg>
                <use xlink:href="#burger"></use>
            </svg>
        </button>
    </div>
</header>