<header class="header">
    <div class="header__inner container">
        <a class="header__logo" href="main.html">
            <img src="images/logo.svg" alt="КИСС">
        </a>
        <button class="js-menu-toggler header__button header__menu-toggler" type="button" title="Открыть меню">
            <svg>
                <use xlink:href="#menu"></use>
            </svg>
        </button>
        <nav class="header__menu-block">
            <ul class="header__menu-list">
                <li>
                    <a href="#">Услуги и стоимость</a>
                </li>
                <li>
                    <a href="#">Акции</a>
                </li>
                <li>
                    <a href="#">О центре</a>
                </li>
                <li>
                    <a href="#">Работы</a>
                </li>
                <li>
                    <a href="#">Специалисты</a>
                </li>
                <li>
                    <a href="#">Калькулятор</a>
                </li>
                <li>
                    <a href="#">Контакты</a>
                </li>
            </ul>
        </nav>
        <div class="header__search-block">
            <button class="header__button header__search-toggler" type="button" title="Открыть поиск">
                <svg>
                    <use xlink:href="#search"></use>
                </svg>
            </button>
        </div>
        <button class="header__button header__calc-button" type="button" title="Калькулятор">
            <svg>
                <use xlink:href="#calc"></use>
            </svg>
        </button>
        <div class="header__location-block">
            <button class="header__button header__location" type="button" title="Открыть карту">
                <svg>
                    <use xlink:href="#location"></use>
                </svg>
            </button>
            <span class="header__address">Санкт-Петербург<br> Щербаков пер. д 2/58</span>
        </div>
        <a class="header__phone-block" href="tel:+78124183440" title="Позвонить нам">
            <span class="header__button">
                <svg>
                    <use xlink:href="#phone"></use>
                </svg>
            </span>
            <span class="header__phone">+7 (812) 418-34-40</span>
        </a>
        <button class="header__button header__burger" type="button" title="Открыть меню">
            <svg>
                <use xlink:href="#burger"></use>
            </svg>
        </button>
    </div>
</header>