<div class="popups-shade">
    <div class="record-popup popup">
        <button class="js-popup-closer popup__close" type="button" title="Закрыть">
            <svg>
                <use xlink:href="#close"></use>
            </svg>
        </button>
        <p class="record-popup__title">Записаться на приём</p>
        <p class="record-popup__text">Мы проконсультируем вас по любым вопросам и предложим решение! Оставьте свои контакты и мы свяжемся с вами в ближайшее время и ответим на все вопросы</p>
        <form action="">
            <label class="input-label">
                <span class="input-label__text">Ваше Имя</span>
                <input class="input" type="text" value="" />
            </label>
            <label class="input-label">
                <span class="input-label__text">Телефон</span>
                <input class="js-phone-mask input" type="text" value="" />
            </label>
            <label class="select-wrapper">
                <span class="select-wrapper__container">
                    <select class="js-select" placeholder="Выберите услугу (необязательно)">
                        <option value=""></option>
                        <option value="1">Терапия</option>
                        <option value="2">Ортодонтия</option>
                        <option value="3">Ортопедия</option>
                        <option value="3">Имплантация</option>
                        <option value="4">Терапия</option>
                        <option value="5">Ортодонтия</option>
                        <option value="6">Ортопедия</option>
                        <option value="7">Имплантация</option>
                        <option value="8">Терапия</option>
                        <option value="9">Ортодонтия</option>
                        <option value="10">Ортопедия</option>
                        <option value="11">Имплантация</option>
                    </select>
                </span>
            </label>
            <button class="record-popup__submit round-button round-button--type_1" type="submit">
                <svg class="arrow">
                    <use xlink:href="#arrow_top_right"></use>
                </svg>
                <span>Записаться<br> на приём</span>
            </button>
        </form>
    </div>
</div>