<div class="popups-shade">
    <div class="record-popup">
        <button class="record-popup__close" type="button" title="Закрыть">
            <svg>
                <use xlink:href="#close"></use>
            </svg>
        </button>
        <p class="record-popup__title">Записаться на приём</p>
        <p class="record-popup__text">Мы проконсультируем вас по любым вопросам и предложим решение! Оставьте свои контакты и мы свяжемся с вами в ближайшее время и ответим на все вопросы</p>
        <form action="">
            <label class="input-label">
                <span class="input-label__text">Ваше Имя</span>
                <input class="input" type="text" value="" />
            </label>
            <label class="input-label">
                <span class="input-label__text">Телефон</span>
                <input class="js-phone-mask input" type="text" value="" />
            </label>
        </form>
    </div>
</div>