.footer
  flex-shrink: 0
  text-align: center

  @media(min-width: 768px)
    text-align: left

  .contacts-map
    margin-left: 0
    margin-right: 0
    margin-bottom: 0 !important

    & + .footer__top
      padding-top: 30px

      @media(min-width: 1900px)
        padding-top: 80px

  &__top
    border-bottom: 1px solid #E6E6E6
    padding-bottom: 30px

    @media(min-width: 1900px)
      padding-bottom: 80px

    .container
      @media(min-width: 768px)
        align-items: center
        display: flex
        justify-content: space-between
        position: relative

  &__phone-block
    font-size: 35px
    font-weight: 500
    line-height: 1.4
    margin-bottom: 20px

    @media(min-width: 768px)
      margin-bottom: 0
      padding-left: 60px

    @media(min-width: 1350px)
      font-size: 50px
      padding-left: 80px

    @media(min-width: 1900px)
      font-size: 86px
      padding-left: 123px

    a
      color: $text-color
      text-decoration: none
      transition: color 0.3s

      &:hover,
      &:focus
        color: $main-color

  &__address-block
    margin-bottom: 20px

    @media(min-width: 768px)
      margin-bottom: 0

  &__address
    font-size: 14px
    line-height: 1.3
    margin-bottom: 15px

    @media(min-width: 768px)
      margin-bottom: 0

    @media(min-width: 1350px)
      font-size: 18px

    @media(min-width: 1900px)
      font-size: 32px
      font-weight: 500

  &__work-time
    font-size: 10px
    line-height: 1.3
    margin-bottom: 10px

    @media(min-width: 768px)
      display: none

  &__appointment
    align-items: center
    border: none
    background-color: transparent
    color: $main-color
    cursor: pointer
    display: flex
    font-weight: 700
    font-size: 12px
    line-height: 1.3
    margin-left: auto
    margin-right: auto
    padding: 20px

    @media(min-width: 768px)
      display: none

    svg
      fill: $main-color
      height: 16px
      margin-left: 10px
      width: 16px

  &__socials
    display: flex
    justify-content: center

    .multi-button
      margin-right: 20px

      @media(min-width: 768px)
        left: 20px
        margin-right: 0
        position: absolute
        top: 50%
        transform: translateY(-50%)
        z-index: 1

      @media(min-width: 1900px)
        left: 60px

    .multi-button__button,
    .multi-button__link
      @media(min-width: 1350px)
        height: 60px
        width: 60px

      @media(min-width: 1900px)
        height: 93px
        width: 93px

      svg
        @media(min-width: 1350px)
          height: 20px
          width: 20px

        @media(min-width: 1900px)
          height: 32px
          width: 32px

    .multi-button__button
      &.is-active
        svg
          @media(min-width: 1350px)
            height: 14px
            width: 14px

          @media(min-width: 1900px)
            height: 20px
            width: 20px

  &__social
    align-items: center
    border-radius: 50%
    background-color: $main-color
    display: flex
    height: 40px
    justify-content: center
    transition: background-color 0.3s
    width: 40px

    @media(min-width: 1350px)
      height: 60px
      width: 60px

    @media(min-width: 1900px)
      height: 93px
      width: 93px

    &:not(:last-child)
      margin-right: 20px

    &:hover,
    &:focus
      background-color: $main-color-hover

    svg
      fill: #fff
      height: 14px
      width: 14px

      @media(min-width: 1350px)
        height: 20px
        width: 20px

      @media(min-width: 1900px)
        height: 32px
        width: 32px

  &__middle
    padding-top: 10px
    padding-bottom: 10px

    @media(min-width: 768px)
      align-items: flex-end
      display: flex
      justify-content: space-between
      padding-top: 30px
      padding-bottom: 30px

    @media(min-width: 1350px)
      padding-top: 40px
      padding-bottom: 60px

    @media(min-width: 1900px)
      padding-top: 80px
      padding-bottom: 120px

  &__contacts
    @media(max-width: 767px)
      display: none

  &__contacts-logo
    margin-bottom: 10px
    width: 92px

    @media(min-width: 768px)
      margin-bottom: 20px

    @media(min-width: 1900px)
      margin-bottom: 60px
      width: 182px

  &__contacts-phone
    font-size: 24px
    font-weight: 700
    line-height: 1.23684
    margin-bottom: 10px

    @media(min-width: 1900px)
      font-size: 38px
      margin-bottom: 20px

    a
      color: $text-color
      transition: color 0.3s
      text-decoration: none

      &:hover,
      &:focus
        color: $main-color

  &__contacts-address
    font-size: 14px
    font-weight: 500
    line-height: 1.3
    margin-bottom: 10px

    @media(min-width: 1350px)
      font-size: 16px

    @media(min-width: 1900px)
      font-size: 22px
      margin-bottom: 20px

  &__contacts-work-time
    color: $main-color
    font-size: 14px
    font-weight: 500
    line-height: 1.3

    @media(min-width: 1350px)
      font-size: 16px

    @media(min-width: 1900px)
      font-size: 22px

  &__menu-toggler
    align-items: center
    background-color: transparent
    border: none
    color: $main-color
    cursor: pointer
    display: flex
    font-size: 12px
    font-weight: 700
    height: 58px
    margin-left: auto
    margin-right: auto
    padding: 20px

    @media(min-width: 768px)
      display: none

    svg
      fill: $main-color
      height: 18px
      margin-right: 15px
      width: 18px

    &.is-active
      svg
        height: 12px
        width: 12px

  &__menu-block
    flex-grow: 1
    max-width: 910px

    @media(min-width: 768px)
      padding-left: 40px
      padding-right: 20px

  &__menu
    display: none
    padding-top: 20px
    padding-bottom: 20px

    @media(min-width: 768px)
      display: block !important
      padding-top: 0
      padding-bottom: 0

  &__menu-inner
    display: flex
    justify-content: space-around

    @media(min-width: 1900px)
      justify-content: space-between

  &__menu-title
    font-size: 18px
    font-weight: 700

    @media(min-width: 1024px)
      font-size: 22px
      margin-bottom: 40px

    @media(min-width: 1350px)
      margin-bottom: 35px

    @media(min-width: 1900px)
      font-size: 34px
      margin-bottom: 60px

    a
      color: $text-color
      text-decoration: none
      transition: color 0.3s

      &:hover,
      &:focus
        color: $main-color

  &__menu-list
    font-size: 14px
    line-height: 1.2
    list-style: none
    padding: 0

    @media(min-width: 1024px)
      column-count: 2
      column-gap: 35px

    @media(min-width: 1200px)
      column-count: 2
      column-gap: 60px

    @media(min-width: 1350px)
      font-size: 16px

    @media(min-width: 1900px)
      font-size: 22px
      font-weight: 500

  &__menu-item
    &:not(:last-child)
      margin-bottom: 5px

      @media(min-width: 1350px)
        margin-bottom: 10px

      @media(min-width: 1900px)
        margin-bottom: 43px

  &__menu-link
    color: rgba($text-color, 0.6)
    display: inline-block
    padding-top: 5px
    padding-bottom: 5px
    text-decoration: none
    transition: color 0.3s

    &:hover,
    &:focus
      color: rgba($main-color, 0.6)

  &__calc-button
    align-items: center
    background-color: $main-color
    border: none
    border-radius: 50%
    cursor: pointer
    color: #fff
    display: flex
    font-size: 12px
    font-weight: 700
    flex-direction: column
    height: 120px
    justify-content: center
    line-height: 1.2
    padding: 0
    transition: background-color 0.3s
    width: 120px

    @media(max-width: 767px)
      display: none

    @media(min-width: 1350px)
      font-size: 14px
      height: 160px
      width: 160px

    @media(min-width: 1900px)
      font-size: 22px
      height: 230px
      width: 230px

    &:hover,
    &:focus
      background-color: $main-color-hover

    svg
      fill: #fff
      height: 30px
      margin-bottom: 10px
      width: 30px

      @media(min-width: 1900px)
        height: 45px
        margin-bottom: 30px
        width: 45px

  &__note
    font-size: 14px
    line-height: 1.3
    margin-bottom: 0
    padding-bottom: 30px
    text-align: center

    @media(min-width: 768px)
      color: #fff
      background-color: $main-color
      font-size: 18px
      font-weight: 700
      line-height: 1.4
      padding-top: 25px
      padding-bottom: 25px

    @media(min-width: 1200px)
      font-size: 20px

    @media(min-width: 1900px)
      font-size: 38px

  &__bottom
    color: rgba($text-color, 0.3)
    font-size: 10px
    line-height: 1.3
    padding-bottom: 25px

    @media(min-width: 768px)
      display: flex
      justify-content: space-between
      padding-top: 20px
      padding-bottom: 20px

    @media(min-width: 1200px)
      font-size: 12px

    @media(min-width: 1400px)
      font-size: 14px

    @media(min-width: 1900px)
      color: rgba($text-color, 0.6)
      font-size: 16px
      padding-top: 40px
      padding-bottom: 40px

  &__bottom-logo
    margin-bottom: 30px
    margin-left: auto
    margin-right: auto
    width: 92px

    @media(min-width: 768px)
      display: none

  &__bottom-left
    margin-bottom: 15px

    @media(min-width: 768px)
      margin-bottom: 0
      padding-right: 40px
      width: 50%

  &__bottom-right
    @media(min-width: 768px)
      width: 50%
