.photos
  margin-left: -20px
  margin-right: -20px
  position: relative

  @media(min-width: 1400px)
    left: 50%
    margin-left: 0
    margin-right: 0
    position: relative
    transform: translateX(-50%)
    width: 100vw

  &:not(:last-child)
    margin-bottom: 60px

    @media(min-width: 1350px)
      margin-bottom: 120px

    @media(min-width: 1900px)
      margin-bottom: 170px

  &:hover
    .slick-next,
    .slick-prev
      opacity: 1

  .slick-next,
  .slick-prev
    display: none

    @media(min-width: 1200px)
      display: flex

  .slick-next
    left: auto
    right: 20px

    @media(min-width: 1900px)
      right: 93px

  .slick-prev
    left: 20px

    @media(min-width: 1900px)
      left: 93px

  .slick-slide
    padding-left: 3px
    padding-right: 3px
    max-width: 306px

    @media(min-width: 1350px)
      max-width: 426px

    @media(min-width: 1900px)
      padding-left: 10px
      padding-right: 10px
      max-width: 607px

  &__link
    background-color: #FAFAFA
    display: block
    height: 0
    width: 165px
    padding-bottom: 100%
    position: relative
    overflow: hidden

    @media(min-width: 1350px)
      width: 420px

    @media(min-width: 1900px)
      width: 587px

    img
      left: 50%
      height: 100%
      position: absolute
      top: 0
      transform: translateX(-50%)
      transition: transform 0.3s

    &:hover,
    &:focus
      img
        transform: scale(1.02) translateX(-50%)
