.portraits
  margin-bottom: 40px
  margin-left: -20px
  margin-right: -20px

  @media(min-width: 1900px)
    left: 50%
    margin-left: 0
    margin-right: 0
    transform: translateX(-50%)
    width: 100vw

  &:hover
    .slider-prev,
    .slider-next
      opacity: 1

  .swiper-slide
    padding-right: 3px
    padding-left: 3px
    width: auto !important

    @media(min-width: 1900px)
      padding-left: 10px
      padding-right: 10px

    picture
      display: block

      @media(min-width: 1350px)
        max-width: 420px

      @media(min-width: 1900px)
        max-width: 798px

  .slider-next,
  .slider-prev
    display: none

    @media(min-width: 1200px)
      display: flex

  .slider-next
    left: auto
    right: 20px

    @media(min-width: 1900px)
      right: 93px

  .slider-prev
    left: 20px

    @media(min-width: 1900px)
      left: 93px
