.portraits
  margin-bottom: 40px

  .swiper-slide
    padding-right: 3px
    padding-left: 3px
    width: auto !important
    //width: 300px !important

    @media(min-width: 1900px)
      padding-left: 10px
      padding-right: 10px

  .swiper-wrapper
    transition-timing-function: linear
