.services
  margin-bottom: 60px
  margin-left: -20px
  margin-right: -20px
  position: relative

  @media(min-width: 1350px)
    margin-bottom: 120px

  @media(min-width: 1400px)
    left: 50%
    margin-left: 0
    margin-right: 0
    position: relative
    transform: translateX(-50%)
    width: 100vw

  @media(min-width: 1900px)
    margin-bottom: 170px

  &:hover
    .slider-prev,
    .slider-next
      opacity: 1

  .swiper
    padding-bottom: 20px

    @media(min-width: 1200px)
      padding-bottom: 0

  .swiper-slide
    height: auto
    padding-right: 3px
    padding-left: 3px
    width: auto !important

    @media(min-width: 1900px)
      padding-left: 10px
      padding-right: 10px

  .swiper-pagination
    bottom: 0

  .slider-next,
  .slider-prev
    display: none

    @media(min-width: 1200px)
      display: flex

  .slider-next
    left: auto
    right: 20px

    @media(min-width: 1900px)
      right: 93px

  .slider-prev
    left: 20px

    @media(min-width: 1900px)
      left: 93px

  .round-button
    left: 20px
    position: absolute
    top: -30px
    z-index: 2

    @media(min-width: 1024px)
      left: 50%

    @media(min-width: 1900px)
      margin-left: 115px
      top: -60px

.service
  background-color: #F5F9FA
  color: $text-color
  display: block
  position: relative
  text-decoration: none
  width: 300px

  @media(min-width: 1350px)
    width: 420px

  @media(min-width: 1900px)
    width: 587px

  &:hover,
  &:focus
    color: $text-color

    img
      transform: scale(1.02)

    .service__title
      color: $main-color

  picture
    display: block
    overflow: hidden

  img
    display: block
    transition: transform 0.3s

  &__text-block
    align-items: flex-start
    bottom: 0
    display: flex
    flex-direction: column
    justify-content: flex-end
    left: 0
    position: absolute
    padding: 20px
    right: 0
    top: 0
    z-index: 1

    @media(min-width: 1350px)
      padding: 30px

    @media(min-width: 1900px)
      padding: 40px

  &__title
    display: block
    font-size: 24px
    font-weight: 700
    margin-bottom: 10px
    transition: color 0.3s

    @media(min-width: 1350px)
      font-size: 30px
      margin-bottom: 20px

    @media(min-width: 1900px)
      font-size: 38px
      margin-bottom: 30px

  &__text
    display: block
    font-size: 12px
    line-height: 1.2

    @media(min-width: 1350px)
      font-size: 18px

    @media(min-width: 1900px)
      font-size: 24px
